<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="/css/bracket.css">
    </head>
    <body>
        {{>headers}}
        <main>
            <hr>
            <p>This is where you go to create your brackets.  Simply enter all of the information for your tournament and let TourneyMan do the rest.</p>
    <form action="editInfo" id="builder" method="POST" name="builder">
            {{>bracketInfo}}
        <input type="submit" form="builder" value="Submit" class="btn">
    </form>
        </main>
    </body>
</html>