<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="/css/bracket.css">
    </head>
    <body>
        {{>headers}}
        <main>
            {{>editSlots}}
        </main>
    </body>
</html>