<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="/css/bracket.css">
    </head>
    <body>
        {{>headers}}
        <main>
            <hr>
            <p>TourneyMan is the best place to create, update, view and share custom tournament brackets.  Here you will find all of the tools that you need to make tournament brackets to fit any occasion.</p>
        </main>
    </body>
</html>