<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="/css/bracket.css">
      </head>
    <body>
        {{>headers}}
    <main>
        <hr>
        <div>
            Please input an email to send a bracket to:
            <form action="emailInput">
                <input type="email" name="emailAddress">
                <input type="submit" value="Submit" class="btn">
            </form>
        </div>
    </main>
    </body>
</html>