<header>
    <a class="btn" href="/">Home</a>
    <a class="btn" href="/create">Create</a>
    <a class="btn" href="/update">Update</a>
    <a class="btn" href="/share">Share</a>
    <a class="btn" href="/view">View</a>
    <br>
    <h1>
        {{title}}
    </h1>
</header>